<section id="wrapper">
    <div class="login-register" style="background-color: #0083a9;">
        <div class="login-box card animate__animated animate__fadeIn">
            <img src="./assets/images/cidenet-logo.png" class="main_img img-responsive" alt="Logo CIDENET SAS">
            <div class="card-body container-form">
                <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="login()" class="form-horizontal form-material" id="loginform" autocomplete="off">
                    <h2 class="text-center text-link">INGRESAR</h2>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="email" formControlName="email" placeholder="Nombre de usuario">
                        </div>
                        <small *ngIf="emailNoValid.error" class="form-text text-danger text-bold">
                            * {{ emailNoValid.message }}
                        </small>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" formControlName="password" placeholder="Contraseña">
                        </div>
                        <small *ngIf="passwordNoValid" class="form-text text-danger text-bold">
                            * La contraseña es requerida.
                        </small>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20" *ngIf="!execute">
                            <button class="btn btn-color text-uppercase" [class.disabled]="loginForm.invalid" type="submit">
                                Iniciar Sesión
                            </button>
                        </div>
                        <div class="col-xs-12 p-b-20" *ngIf="execute">
                            <button class="btn btn-color text-uppercase" type="button" disabled>
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                Iniciando sesión...
                            </button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center text-color">
                            <a routerLink="/register" class="text-link m-l-5"><b>Registrarse</b></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer-box card animate__animated animate__fadeIn">
            <div class="card-body"></div>
        </div>
    </div>
</section>