.mtop {
    margin-top: 20px;
}

input[type=text],
input[type=email],
input[type=password] {
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 25px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 25px;
}

input[type=text]:active,
input[type=email]:active,
input[type=password]:active {
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 25px;
}

.uper {
    text-transform: uppercase;
}

.text-bold {
    font-weight: bold;
}

.btn-color {
    background-color: #434345;
    color: #FFF;
    padding: 10px;
    border-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}