<div class="container mtop">
    <div class="card bg-light">
        <div class="card-body">
            <div class="card-title">
                <form *ngIf="employeeForm" [formGroup]="employeeForm" class="form-horizontal form-material" id="employeeForm" autocomplete="off">
                    <div class="text-center">
                        <h2 class="text-center text-link">MODIFICAR EMPLEADO</h2>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group ">
                                <input class="form-control uper" type="text" formControlName="name1" placeholder="Primer nombre" maxlength="20" required>
                                <small *ngIf="name1NoValid.error" class="form-text text-danger text-bold">
                                    * {{ name1NoValid.message }}
                                </small>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group ">
                                <input class="form-control uper" type="text" formControlName="name2" placeholder="Segundo nombre" maxlength="50">
                                <small *ngIf="name2NoValid.error" class="form-text text-danger text-bold">
                                    * {{ name2NoValid.message }}
                                </small>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group ">
                                <input class="form-control uper" type="text" formControlName="lastName1" placeholder="Primer apellido" maxlength="20" required>
                                <small *ngIf="lastName1NoValid.error" class="form-text text-danger text-bold">
                                    * {{ lastName1NoValid.message }}
                                </small>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group ">
                                <input class="form-control uper" type="text" formControlName="lastName2" placeholder="Segundo apellido" maxlength="20" required>
                                <small *ngIf="lastName2NoValid.error" class="form-text text-danger text-bold">
                                    * {{ lastName2NoValid.message }}
                                </small>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group ">
                                <select class="form-control" formControlName="identificationType" required disabled>
                                    <option value="">Seleccione el tipo de documento</option>
                                    <option value="Cedula de Ciudadania">Cédula de Ciudadanía</option>
                                    <option value="Cedula de Extranjeria">Cédula de Extranjería</option>
                                    <option value="Pasaporte">Pasaporte</option>
                                    <option value="Permiso Especial">Permiso Especial</option>
                                </select>
                                <small *ngIf="identificationTypeNoValid.error" class="form-text text-danger text-bold">
                                    * {{ identificationTypeNoValid.message }}
                                </small>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group ">
                                <input class="form-control" type="text" formControlName="identificationNumber" placeholder="Número de documento" maxlength="20" required disabled>
                                <small *ngIf="identificationNumberNoValid.error" class="form-text text-danger text-bold">
                                    * {{ identificationNumberNoValid.message }}
                                </small>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group ">
                                <select class="form-control" formControlName="country" required>
                                    <option value="">Seleccione el país donde el empleado aplicará sus servicios</option>
                                    <option value="Colombia">Colombia</option>
                                    <option value="Estados Unidos">Estados Unidos</option>
                                </select>
                                <small *ngIf="countryNoValid.error" class="form-text text-danger text-bold">
                                    * {{ countryNoValid.message }}
                                </small>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group ">
                                <input class="form-control" type="text" formControlName="enterDate" placeholder="Fecha de ingreso" readonly="readonly">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group ">
                                <select class="form-control" formControlName="area" required>
                                    <option value="">Seleccione el área de trabajo</option>
                                    <option value="Administracion">Administración</option>
                                    <option value="Financiera">Financiera</option>
                                    <option value="Compras">Compras</option>
                                    <option value="Infraestructura">Infraestructura</option>
                                    <option value="Operacion">Operación</option>
                                    <option value="Talento Humano">Talento Humano</option>
                                    <option value="Servicios Varios">Servicios Varios</option>
                                </select>
                                <small *ngIf="areaNoValid.error" class="form-text text-danger text-bold">
                                    * {{ areaNoValid.message }}
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20" *ngIf="!execute">
                            <button class="btn btn-color text-uppercase" (click)="saveChanges()" [class.disabled]="employeeForm.invalid">
                                Modificar Empleado
                            </button>
                        </div>
                        <div class="col-xs-12 p-b-20" *ngIf="execute">
                            <button class="btn btn-color text-uppercase" type="button" disabled>
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                Modificando Empleado...
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>