<section id="wrapper">
    <div class="login-register" style="background-color: #0083a9;">
        <div class="login-box card animate__animated animate__fadeIn">
            <img src="./assets/images/cidenet-logo.png" class="main_img" alt="Logo CIDENET SAS">
            <div class="card-body container-form">
                <form *ngIf="registerForm" [formGroup]="registerForm" (ngSubmit)="regiterClient()" class="form-horizontal form-material">
                    <h2 class="text-center text-link">REGISTRAR USUARIO ADMINISTRADOR</h2>
                    <span>Por favor cree un usuario para iniciar con la administración de la plataforma</span>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" name="name" formControlName="name" placeholder="Nombre completo">
                            <small *ngIf="nameNoValid.error" class="form-text text-danger text-bold">
                                * {{ nameNoValid.message }}
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="email" name="email" formControlName="email" placeholder="Correo electrónico">
                        </div>
                        <small *ngIf="emailNoValid.error" class="form-text text-danger text-bold">
                            * {{ emailNoValid.message }}
                        </small>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" name="phone" formControlName="phone" placeholder="Número de teléfono">
                        </div>
                        <small *ngIf="phoneNoValid.error" class="form-text text-danger text-bold">
                            * {{ phoneNoValid.message }}
                        </small>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" formControlName="password" placeholder="Contraseña">
                        </div>
                        <small *ngIf="passwordNoValid" class="form-text text-danger text-bold">
                            * La contraseña es requerida.
                        </small>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20" *ngIf="!execute">
                            <button class="btn btn-color text-uppercase" [class.disabled]="registerForm.invalid" type="submit">
                                Registrarse
                            </button>
                        </div>
                        <div class="col-xs-12 p-b-20" *ngIf="execute">
                            <button class="btn btn-color text-uppercase" type="button" disabled>
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                Registrando...
                            </button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center text-color">
                            <a routerLink="/login" class="text-link m-l-5"><b>Iniciar sesión</b></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer-box card animate__animated animate__fadeIn">
            <div class="card-body"></div>
        </div>
    </div>
</section>