.login-register {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    padding: 10px;
    position: absolute;
    overflow: auto;
}

.main_img {
    padding: 20px 30px;
}

.login-box {
    width: 320px;
    margin: 0 auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.container-form {
    padding: 0 30px 0 30px !important;
}

.btn-color {
    background-color: #434345;
    color: #FFF;
    padding: 10px;
    border-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}

.footer-box {
    width: 320px;
    margin: 0 auto;
    margin-top: 8px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.text-link {
    color: #434345;
    font-weight: 700;
}

.login-box .footer {
    width: 100%;
    left: 0px;
    right: 0px;
}

.login-sidebar {
    padding: 0px;
    margin-top: 0px;
}

input[type=text],
input[type=email],
input[type=password] {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 148, 211, 1) 0%, rgba(0, 162, 221, 1) 5%, rgba(0, 212, 255, 1) 33%);
    color: #FFF !important;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 25px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 148, 211, 1) 0%, rgba(0, 162, 221, 1) 5%, rgba(0, 212, 255, 1) 33%);
    color: #FFF !important;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 25px;
}

input[type=text]:active,
input[type=email]:active,
input[type=password]:active {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 148, 211, 1) 0%, rgba(0, 162, 221, 1) 5%, rgba(0, 212, 255, 1) 33%);
    color: #FFF !important;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 25px;
}

.text-bold {
    font-weight: bold;
}

::placeholder {
    color: #fff;
    opacity: 1;
}

@media (min-width: 280px) {
    .login-box,
    .footer-box {
        width: 260px;
        top: 60px;
    }
}

@media (min-width: 320px) {
    .login-box,
    .footer-box {
        width: 300px;
        top: 20px;
    }
}

@media (min-width: 360px) {
    .login-box,
    .footer-box {
        width: 320px;
        top: 30px;
    }
}

@media (min-width: 375px) {
    .login-register {
        padding-top: 10px;
    }
    .login-box,
    .footer-box {
        top: 50px;
    }
}

@media (min-width: 411px) {
    .login-box,
    .footer-box {
        width: 380px;
        top: 60px;
    }
}

@media (min-width: 768px) {
    .login-box,
    .footer-box {
        width: 400px;
    }
}

@media (min-width: 768px) and (min-height: 1024px) {
    .login-register {
        padding: 0;
        margin: 0;
    }
}

@media (min-width: 1152px) and (min-height: 864px) {
    .login-register {
        padding-top: 10%;
    }
}

@media (min-width: 1024px) and (min-height: 1366px) {
    .login-register {
        padding-top: 20%;
    }
}

@media (min-width: 1280px) {
    .main_img {
        width: 280px !important;
        margin: 0 auto;
    }
}

@media (min-width: 1280px) and (min-height: 600px) {
    .login-register {
        padding-top: 0px;
    }
}

@media (min-width: 1280px) and (min-height: 720px) {
    .login-register {
        padding-top: 60px;
    }
}

@media (min-width: 1280px) and (min-height: 768px) {
    .login-register {
        padding-top: 85px;
    }
}

@media (min-width: 1280px) and (min-height: 960px) {
    .login-register {
        padding-top: 160px;
    }
}

@media (min-width: 1366px) and (min-height: 768px) {
    .login-register {
        padding-top: 90px;
    }
}

@media (min-width: 1400px) and (min-height: 900px) {
    .login-register {
        padding-top: 150px;
    }
}

@media (min-width: 1400px) and (min-height: 1050px) {
    .login-register {
        padding-top: 220px;
    }
}

@media (min-width: 1600px) and (min-height: 900px) {
    .login-register {
        padding-top: 150px;
    }
}

@media (min-width: 1680px) and (min-height: 1050px) {
    .login-register {
        padding-top: 240px;
    }
}