<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="/employees">
        <img src="./assets/images/cidenet-isotipo.png" height="50" class="d-inline-block align-center" alt=""> CIDENET SAS - Administrador
    </a>

    <a class="btn btn-md btn-outline-warning" (click)="logOut()">Salír</a>
</nav>