<div class="container-fluid">
    <div class="row animate__animated animate__fadeIn">
        <div class="col-12">
            <div class="table-responsive">
                <div>
                    <a routerLink="/employees/create" class="btn btn-info btn-sm new"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo empleado</a>
                </div>

                <div class="btn-group new float-right" role="group" aria-label="Basic example">
                    <button type="button" (click)="filterByState(true)" class="btn btn-sm btn-outline-success">Activos</button>
                    <button type="button" (click)="filterByState(false)" class="btn btn-sm btn-outline-danger">Inactivos</button>
                </div>
                <table id="employeesTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Primer Apellido</th>
                            <th>Segundo Apellido</th>
                            <th>Primer Nombre</th>
                            <th>Otros Nombres</th>
                            <th>Tipo de identificación</th>
                            <th>Número de identificación</th>
                            <th>País del empleo</th>
                            <th>Email</th>
                            <th>Estado</th>
                            <th class="text-nowrap">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of employeeList;let i = index">
                            <td>{{ employee.lastName1 }}</td>
                            <td>{{ employee.lastName2 }}</td>
                            <td>{{ employee.name1 }}</td>
                            <td>{{ employee.name2 }}</td>
                            <td>{{ employee.identificationType | uppercase }}</td>
                            <td>{{ employee.identificationNumber | uppercase }}</td>
                            <td>{{ employee.country }}</td>
                            <td>{{ employee.email }}</td>
                            <td class="text-center" *ngIf="employee.state">
                                <span class="badge badge-success">Activo</span>
                            </td>
                            <td class="text-center" *ngIf="!employee.state">
                                <span class="badge badge-danger">Inactivo</span>
                            </td>
                            <td>
                                <a *ngIf="employee.state" (click)="modifyEmployee(employee)" data-toggle="tooltip" data-placement="top" title="Modificar empleado"><i class="fas fa-edit warning"></i> </a> |
                                <a *ngIf="employee.state" (click)="deleteEmployee(employee)" data-toggle="tooltip" data-placement="top" title="Eliminar empleado" class="ml-1"><i class="fas fa-trash-alt danger"></i> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>